#body{
    background-color: purple;
    margin: 0;
font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    color: #ffffff
}
.container1{
    /* width: 80%;
    height: 170px; */
    margin: 0 auto;   
}
.container2{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
header::after{
    
    display: table;
    clear: both;
}

nav ul{
    margin: o;
    list-style: none;
    
}
nav li{
    float: left;
    margin: 0;
    margin-top: 0;
    padding: 10px;
    font-weight: 200;
    font-size: larger;
    
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: cornflowerblue;
  }

  #image1{
      width: 360px;
      height: 310px;
      margin-top: 50px;
      margin-left: 10px;
      
  }
 #mainfooter{
text-align: center;

  }

  footer{
   
    text-align: center;
    color: aliceblue;
  }
  footer > a{
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  footer > a:hover{
    color: white;
    font-size: 25px;
  }

  #skill_images{
    width: 255px;
    height: 150px;
  }
  #mainfooterimages{
    margin-top: 20px;
    width: 100px; height: 100px;
    border-radius: 50%;
  }
  #copy{
  background-color: beige;
  color: black;

  }
