body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    color: #212529;
    background-color: rgba(206, 110, 47, 0.315);

}
.container1{
    /* width: 80%;
    height: 170px; */
    margin: 0 auto;
    
}
.container2{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
}
header {
    background-color: chartreuse;
}
header::after{
    content: ;
    display: table;
    clear: both;
}

nav ul{
    margin: o;
    list-style: none;
    
}
nav li{
    float: left;
    margin: 0;
    margin-top: 0;
    padding: 10px;
    font-weight: 200;
    font-size: larger;
    
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: cornflowerblue;
  }

  #image1{
      width: 360px;
      height: 310px;
      /* display: block; */
     
      margin-top: 50px;
      
  }
 #mainfooter{
background-color: rgb(53, 196, 117);
height: 272px;
color: azure;

  }

  footer{
    background-color:  rgb(6, 112, 98);
    text-align: center;
    color: aliceblue;
  }
  footer > a{
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  footer > a:hover{
    color: white;
    font-size: 25px;
  }

  #skill_images{
    width: 210px;
    height: 120px;
  }
  #mainfooterimages{
    margin-top: 20px;
    width: 100px; height: 100px;
    border-radius: 50%;
  }
