
.rw-wrapper{
	width: 10%;
	/* position: absolute; */
	margin: 0px auto 0 auto;
	padding: 10px;
	height: 10px;
}
.rw-sentence{
	margin: 0;
}
.rw-sentence span{
	text-align: center;
	color: rgb(253, 253, 253);
	font-family: 'Trocchi';
	font-size: 20%;
	white-space: nowrap;
	text-shadow: 2px 5px 10px rgba(0,0,0,0.1);
}
.rw-sentence > span{
	position: absolute;
}
.rw-sentence > span:first-child{
	top: 40px;
	left: 130px;
	font-size: large;
	color: rgba(228, 112, 10, 0.6);
}
.rw-sentence > span:nth-child(2){
	top: 70px;
	left: 100px;
	font-size: large;
	color: rgba(9, 221, 126, 0.7);
}
.rw-sentence > span:nth-child(3){
	top: 100px;
	left: 110px;
	font-size: large;
	color: rgba(202, 8, 8, 0.8);
}
.rw-sentence > span:last-child{
	top: 140px;
	left: 170px;
	font-size: large;
	color: rgba(26, 8, 185, 0.9);
}
.rw-words{
	position: absolute;
	left: 135px;
	top: 100px;
	height: 10px;
	width: 10px;
	-webkit-perspective: 400px;
	perspective: 400px;
}
.rw-words span{
	position: absolute;
	font-size: large;
	color: transparent;
	opacity: 0;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
}
.rw-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
}
.rw-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
}
.rw-words span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
}
.rw-words span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; -webkit-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; -webkit-transform: translateY(0px) translateZ(0px) rotateY(0deg); }
	6% { text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    17% { opacity: 1; text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; -ms-animation-timing-function: ease-in; -ms-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
    5% { opacity: 1; -ms-animation-timing-function: ease-out; -ms-transform: translateY(0px) translateZ(0px) rotateY(0deg); }
	6% { text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    17% { opacity: 1; text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; -webkit-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; -webkit-transform: translateY(0px) translateZ(0px) rotateY(0deg); transform: translateY(0px) translateZ(0px) rotateY(0deg); }
	6% { text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    17% { opacity: 1; text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
